body {
  background-color: #2D3B48;
  padding: 0;
  margin: 0;
}
.title {
  color: white;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.header{
  margin: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header {
  background-color: #ef5350;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 25px 0;
  display: inline-block;
  float: right;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.imgPokemon{
  width: 9vw;
}

#logo{
  padding: 1vh 0 0 10vh;
  height: 5vh;
}